* {
  margin: 0;
  font-family: 'Arial', serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  //background-image: linear-gradient(to bottom right, #B4D836, #73B349);
}

h1 {
  font-family: 'Work Sans', sans-serif;
}

.ribbon {
  background-color: black;
  height: fit-content;
  width: 100%;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.ribbon h1 {
  text-align: center;
  margin: 0;
  color: white;
}

form {
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
}

form input {
  font-size: 1.3em;
  margin: 0.3rem;
  border-radius: 5px;
  border-style: solid;
  border-color: mediumseagreen;
}

form input:focus {
  border-radius: 5px;
  outline: 0;
}

input[type="submit"] {
  border: none;
}

.entry-wrap label {
  display: inline-block;
  width: 100px;
}
