<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Calculator</title>
    <link rel="stylesheet" href="app.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="ribbon">
      <h1>Carbon Footprint Calculator</h1>
    </div>
    <!--Get starting point-->
    <form action='../backend/application.py' method='calcFootprint'>
        <div class="entry-wrap">
          <label for="starting-point">Starting Point</label>
          <input type="text" name="starting-point" placeholder="UC San Diego">
        </div>
        <div class="entry-wrap">
          <label for="destination">Destination</label>
          <input type="text" name="destination" placeholder="Vallartas"><br>
        </div>
      <label for="mpg">MPG</label>
        <input id="mpg" name="mpg" value="0"><br>
        <input type="submit">
    </form>
  </body>
</html>
