<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Calculator</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="title">
      <h1 align="center">Carbon Footprint Calculator</h1>
    </div>
    <div class="logo">
      <img src="../static/images/logo.svg" alt="logo">
    </div>

    <div class="rounded">
      <a href="app.html">Go</a>
    </div>

    <div class="about">
      <h2 align="center">About</h2>
      <h3 align="center">This carbon footprint calculator calculates and compares your 
      transportation carbon emissions with household carbon consumption per year, carbon
      absorption rate by trees and annual total car emissions.</h3>
    </div>
  </body>
</html>
