<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Calculator</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="title">
      <h1 align="center">Carbon Footprint Calculator</h1>
    </div>
    <div class="logo">
      <img src="../../images/logo.svg" alt="logo">
    </div>

    <div class="rounded">
      <a href="app.html">Go</a>
    </div>
  </body>
</html>
