
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom right, #89AE4D, #044C0C);
}



h1 {
  font-family: 'Work Sans', sans-serif;
  color: white;
  margin-top: 100px;
  background-color: none;
}
