<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Calculator</title>
    <link rel="stylesheet" href="../static/test.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script type="text/javascript">
      $(document).ready(function() {
        $('#scrolldown').click(function() {
          $('html, body').animate({
            scrollTop: $("#analysis").offset().top
          }, 800, function() {
          });
        });
      });
</script>
  </head>

  <body>
    <div class="ribbon">
      <h1><a href="app.html">Carbon Footprint Calculator</a></h1>
    </div>
    <div id="emissions">
      <div id="info-wrapper">
        <span class="parenthesis">[</span> {{data[0]}}  <span class="parenthesis">]</span>
        <div id="small-description">tons of CO2 emissions</div>
        {{url}}
        <a class="btn btn-xs" id="scrolldown" href= "#analysis">Scroll down or click here for more info</a>
      </div>
    </div>

    <div id="analysis" class="row">
      <div class="col-md-4 calculation">
        <img src="../static/images/house.svg"/>
        <div class="value">{{data[1]}}</div>
        <div class="value-type">
          <h3>trips would produce as much CO2 as 1 household does annually.</h3>
        </div>
      </div>
      <div class="col-md-4 calculation">
        <img src="../static/images/car.svg"/>
        <div class="value">{{data[2]}}</div>
        <div class="value-type">
          <h3>trips would produce as much CO2 as 1 car does annually.</h3>
        </div>
      </div>
      <div class="col-md-4 calculation">
        <img src="../static/images/tree.svg"/>
        <div class="value">{{data[3]}}</div>
        <div class="value-type">
          <h3>trees are needed to absorb the amount of CO2 produced.</h3>
        </div>
      </div>
    </div>
    <a class="return" href="app.html">Go back</a>
  </body>
</html>
