<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Calculator</title>
    <link rel="stylesheet" href="../static/test.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>

  <body>
    <!-- {{ data }} -->
    <div class="ribbon">
      <h1>Carbon Footprint Calculator</h1>
    </div>
    <div id="emissions">
      <span class="parenthesis">[</span> 400  <span class="parenthesis">]</span>
      <div id="small-description">tons of CO2 emissions</div>
    </div>

    <div class="row">
      <div class="col-md-4 calculation">
        <img src="../static/images/house.svg"/>
        <div class="value">123</div>
        <div class="value-type">
          <h3>would produce as much CO2 as 1 household does annually.</h3>
        </div>
      </div>
      <div class="col-md-4 calculation">
        <img src="../static/images/car.svg"/>
        <div class="value">123</div>
        <div class="value-type">
          <h3>would produce as much CO2 as 1 car does annually.</h3>
        </div>
      </div>
      <div class="col-md-4 calculation">
        <img src="../static/images/tree.svg"/>
        <div class="value">123</div>
        <div class="value-type">
          <h3>are needed to absorb the amount of CO2 produced.</h3>
        </div>
      </div>
    </div>
  </body>
</html>
