* {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  color: black;
  margin-top: 100px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom right, #89AE4D, #044C0C);
  overflow: auto;
}

h1 {
  color: white;
}


.logo {
  width: 25%;
  height: 25%;
  margin: 0 auto;
  margin-top: 50px;
}

.rounded {
  border-radius: 25px;
  background-color: white;

  width: 200px;
  height: 60px;
}
