* {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #044C0C;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom right, #89AE4D, #044C0C);
  overflow: auto;
}

h1 {
  font-size: 70px;
  color: white;
  margin-top: 100px;
}

h2 {
  color: black;
}

h3 {
  color: black;
  font-size: 30px;
}

img {
  display: block;
  width: 25%;
  height: 25%;
  max-width: 300px;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;

}

.logo {
  margin: 0 auto;
}

.rounded {
  display: block;
  border-radius: 100px;
  border: 2px solid #044C0C;
  border-color: #044C0C;
  background-color: white;
  margin: 0 auto;
  margin-top: 75px;
  width: 200px;
  height: 60px;
}

.rounded a {
  margin: 0 auto;
  display: block;
  text-align: center;
  text-color: #044C0C;
  vertical-align: middle;
  text-decoration: none;
}

.rounded:hover {
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}

.about {
  background-color: white;
  padding: 320px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

