* {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: black;
  margin-top: 100px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom right, #89AE4D, #044C0C);
  overflow: auto;
}

h1 {
  font-size: 80px;
  color: white;
}

img {
  width: 25%;
  height: 25%;
}

.logo {
  margin: 0 auto;
}

.rounded {
  border-radius: 25px;
  background-color: white;
  margin: 0 auto;
  width: 200px;
  height: 60px;
}

.rounded a {
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
}
