html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  margin: 0;
  font-family: 'Work Sans', serif;
}

h1 {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.ribbon {
  background-color: black;
  height: fit-content;
  width: 100%;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.ribbon h1 {
  text-align: center;
  margin: 0;
  color: white;
}

#emissions {
  height: calc(100% - 1.3rem);
  background-color: mediumseagreen;
  font-size: 5rem;
  padding-top: 10%;
  overflow: auto;
}

.parenthesis {
  height: 5.5rem;
}

#small-description {
  font-size: 2rem;
}

img {
  display: block;
  height: 400px;
  width: 200px;
  margin: 0 auto;
}

.calculation {
  display: block;

}

.value {
  display: block;
  font-size: 100px;
  text-align: center;
}

.value-type {
  display: block;
  text-align: center;
}

#info-wrapper {
  border: 2px solid mediumseagreen;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  max-width:780px;
  height: 70%;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
